nav {
  background-color: black;
  min-height: 15vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-section h1 {
  font-size: 3.5rem;
}

.nav-section h3 {
  font-size: 1.8rem;
}

.nav-section a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-section a:hover {
  transform: translateY(-0.2rem);
}

.under-nav-section {
  width: 100%;
  height: 0.4rem;
  background-size: 15rem;
  background-repeat: round;
  /* yep, that's what you think, the flag of France ._. */
  background-image: url(../../../images/Flag_of_France.svg.png);
}

@media screen and (max-width: 700px) {
  .nav-section {
    width: 98%;
  }
  .nav-section h1 {
    font-size: 2rem;
  }

  .nav-section h3 {
    font-size: 1.3rem;
  }

  .nav-section a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
