.form-section {
  width: 60%;
  margin: 4rem auto;
}

.form-section h2 {
  font-size: 3.1rem;
  margin: 0.5rem 0;
}

.form-section h3 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.form-section p {
  font-size: 1.5rem;
}

.form-section label,
.form-group label p {
  font-size: 2rem;
  min-width: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

form {
  margin: 1rem 0;
  width: 55%;
}

.form-group {
  margin: 4rem 0 0 0;
  display: flex;
  justify-content: space-between;
}

.form-control {
  height: 3rem;
  min-width: 70%;
  font-size: 2rem;
}

.errors-section {
  margin-left: 30%;
  font-size: 1.3rem;
  color: red;
}

.text-danger {
  font-size: 1.4rem;
}

.is-invalid {
  border-color: red;
}

.btn {
  margin-top: 5rem;
  padding: 1.5rem 4rem;
  background: #304f80;
  color: white;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.btn:hover {
  background: #0b043d;
}

@media screen and (max-width: 700px) {
  .form-section {
    width: 98%;
  }

  form {
    width: 98%;
    display: flex;
    flex-direction: column;
  }
}
