<div class="under-nav-section"></div>
<footer>
  <div class="footer-info">
    <div class="our-info">
      <p>Our Phone Number: +42199989989</p>
      <p>Our Adress: Bratisalva, Maroko 1245/62, 341567</p>
    </div>
    <div class="links-info">
      <a href="https://www.youtube.com/"><div class="icon youtube"></div></a>
      <a href="https://twitter.com/i/flow/login"
        ><div class="icon twitter"></div
      ></a>
      <a href="https://www.facebook.com/"><div class="icon facebook"></div></a>
    </div>
  </div>
</footer>
